<!--<header class="site-header">-->
<header>
  <nav>
    <ul class="m-navigation u-wrapper">
      {% for page in site.pages %}
        {% if page.title %}
          <li class="a-navigationItem"><a class="a-navigationTarget" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
        {% endif %}
      {% endfor %}
      <li class="a-navigationItem"><a class="a-navigationTarget" href="{{ site.baseurl }}/">Posts</a></li>
      <li class="a-navigationItem"><a class="a-navigationTarget" href="https://github.com/wilsson">Github</a></li>
    </ul>
  </nav>

<div class="m-logo">
  <a href="{{ site.baseurl }}/">
    <img class="a-logo" src="{{ site.baseurl }}/images/logo.png">
  </a>
</div>

</header>
