/*
---
# Only the main Sass file needs front matter (the dashes are enough)
---
*/

@import "syntax-highlighting";
@import "normalize";

.m-navigation{
	width: 960px;
	position: relative;
	margin: 0 auto;
	height: 50px;
}
.a-navigationTarget{
	color:white;
	text-decoration: none;;
	line-height: 50px;
	display: block;
	padding: 0 10px;
	font-size: 14px;
}

.a-navigationTarget:hover{
	background-color: #c62828;
}

.a-navigationItem{
	list-style: none;
	float:left;
}

.m-logo{
	background-color: #c62828;
	text-align: center;
	height: 150px;
}

.a-logo{
	padding: 50px 0;
}

.u-wrapper{
	width: 960px;
	margin: 0 auto;
}

/*
.o-footerMain{
	height:5px;
	background-color: #b71c1c;
}
*/

.a-articlePost{
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	color:#333;
	line-height: 36px;
}

/* base */
nav{
	background-color: #b71c1c;
	overflow: auto;
  	zoom: 1;
}

pre{
	border: 1px solid #e8e8e8;
	overflow-x:scroll;
	padding: 8px 12px;
	background-color: #eef;
	font-size: 15px;
	line-height: 25px
}

h1,h3,h4{
	color:#424242;
	font-family: 'Open Sans', sans-serif;
}

ul{
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #2a7ae2;
}

a:hover{
	text-decoration: underline;
}